.error-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error-message h4 {
    margin: 3px 0;
    text-align: center;
}

.error-message button {
    margin-top: 16px;
}
