.job {
    margin-bottom: 12px;
    padding: 16px;
    background-color: var(--smoke-white);
}

.job__apply-btn {
    margin-top: 16px;
}

@media only screen and (min-width: 767px) {
    .job {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .job__apply-btn {
        max-width: 139px;
    }
}
