.jobcard__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.jobcard__logo {
    display: inline-flex;
    margin: 0;
    padding: 6px;
    background-color: #fff;
    flex-shrink: 0;
}

.jobcard__logo > img {
    width: 71px;
    height: 26px;
    object-fit: contain;
}

.jobcard__details {
    margin-left: 12px;
    font-weight: 700;
}

.jobcard__company {
    font-size: 12px;
    color: var(--light-text);
    margin-bottom: 6px;
}

.jobcard__title {
    font-size: 18px;
    color: #000;
}

.jobcard__meta {
    display: flex;
}

.jobcard__meta > div:not(:last-child) {
    margin-right: 15px;
}

.jobcard__meta span {
    font-weight: 700;
    color: #000;
}
